.itembox_container {
  border: 1px solid white;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 8px;
  max-width: 310px;
}

.itembox_info {
  display: flex;
  flex-direction: column;
}
