.itembox_container {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 8px;
  max-width: 310px;
}

.itembox_info {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}
