.lore_field {
  color: #ccd3e0;
  background-color: #40515e;
  line-height: 120%;
  white-space: pre-wrap;
  border: 2px solid #4f6372;
  width: 600px;
  overflow: hidden;
  padding: 8px;
}

.lore_button {
  background-color: #40515e;
  border: 2px solid #4f6372;
  color: #ccd3e0;
  cursor: pointer;
  padding: 4px;
  width: 100%;
}

.lore_button:hover {
  background-color: #637584;
}
