.content {
  color: #ccd3e0;
  background-color: #40515e;
  line-height: 120%;
  white-space: pre-wrap;
  line-break: anywhere;
  border: 2px solid #4f6372;
  width: 600px;
  overflow: hidden;
  padding: 8px;
}

.showButton {
  background-color: #40515e;
  border: 2px solid #4f6372;
  color: #ccd3e0;
  cursor: pointer;
  padding: 4px;
  /* width: 100%; */
}

.showButton:hover {
  background-color: #637584;
}
