.content {
  align-items: start;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-direction: row;
  padding-top: 8px;
  margin: auto;
  width: fit-content;
}

.model_preview {
  background-color: black;
  width: 400px;
  height: 550px;
}

.info_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 600px;
  line-height: 120%;
}
