.cStack {
  background: none;
  color: gray;
  font-style: italic;
}

.cIsDamage {
  color: #e5c962;
}

.cIsUtility {
  color: #95cde5;
}

.cIsHealing {
  color: #9ce562;
}

.cMono {
  color: #8595a4;
  line-height: 130%;
  letter-spacing: 1px;
  font-weight: bold;
}
